* {
  font-family: "Arial", sans-serif;
}

.block {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: lightgray;
}

.flex-item {
  display: inline-block;
  background-color: skyblue;
  padding: 10px;
}

#new-section {
  margin-top: 20px;
  padding: 10px;
  background-color: lightyellow;
}

.section-header {
  font-size: 1.5em;
  color: darkblue;
}

.section-paragraph {
  font-size: 1em;
  color: darkgreen;
}

.ordered-list {
  margin-top: 20px;
  padding-left: 20px;
}

#image-section {
  margin-top: 20px;
  padding: 10px;
  background-color: lightpink;
}

.styled-image {
  max-width: 100%;
  border: 2px solid darkblue;
  border-radius: 10px;
}

.custom-link {
  display: block;
  margin-top: 20px;
  color: darkblue;
  text-decoration: none;
}

.custom-link:hover {
  color: darkred;
  text-decoration: underline;
}